/* .right-container {
  margin-top: 120px;
  margin-left: 50px;
} */

.main-container-zip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.flex-zip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.button-container-zip {
  padding-top: 50px;
}

.input-zip {
  margin-left: 2px;
}

.submit-button-zip {
  background-color: hsla(178, 50%, 38%, 1);
  border: 1px solid hsla(178, 50%, 38%, 1);
  color: white;
  border-radius: 5px;
  font-weight: 600;
  padding: 10px 30px;
}
.submit-button-zip:hover {
  background-color: hsla(175, 50%, 65%, 1);
  color: white;
}

.download-button-zip {
  background-color: white;
  color: hsla(178, 50%, 38%, 1);
  border: 1px solid hsla(178, 50%, 38%, 1);
  border-radius: 5px;
  font-weight: 600;
  padding: 10px 30px;
  margin: 10px 0 0 10px;
}

.download-button-zip:hover {
  /* background-color: hsla(178, 50%, 38%, 1); */
  background-color: hsla(175, 50%, 65%, 1);
  color: white;
}
