.menu {
  height: 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  text-decoration: none;
  font-size: 20px;
}

.info-menu {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.links {
  background-color: hsla(178, 50%, 38%, 1);
  color: white;
  border-radius: 5px;
  font-weight: 400;
  padding: 10px 50px;
  margin-top: 10px;
  text-decoration: none;
  margin: 5px 20px;
}

.links:hover {
  background-color: hsla(175, 50%, 65%, 1);
  color: white;
}
